html{
    scroll-behavior: smooth;
}

body{
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(3, 4, 31);
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;

}

.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgrey;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid blue;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
}

.slider{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    clip-path : polygon(0 0, 100% 0, 100% 100%, 0 79%);

    overflow: hidden;
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
   position: absolute;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right: 20% ;
    color: aliceblue;
    font-size: 60px ;
    font-weight: 800;
    text-align: center;
    z-index: 1;
}

.sliderImg{
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left: 20% ;
    color: aliceblue;
    font-size: 60px ;
    font-weight: 400;
    text-align: center;
    border: 2px solid gray;

}

.buyButton{
    position: absolute;
    top: 50%;
    right: 20% ;
    font-size: 40px ;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgb(40, 36, 36);
    background-color: rgb(4, 2, 26);
    cursor: pointer;
    color: white;
    z-index: 1;

}

.buyButton:hover{
    background-color: white;
    color:  rgb(4, 2, 26);
}


.sliderItem:nth-child(1) .sliderBg{
     background-color: rgb(45, 209, 209);
}


.sliderItem:nth-child(2) .sliderBg{
    background-color:rgb(209, 67, 20);
}


.sliderItem:nth-child(3) .sliderBg{
    background-color:rgb(147, 198, 45);
}


.sliderItem:nth-child(4) .sliderBg{
    background-color: rgb(193, 39, 111);
}


.sliderItem:nth-child(5) .sliderBg{
    background-color: rgb(118, 64, 175);
}


.sliderItem:nth-child(1) .sliderPrice{
  color: rgb(45, 209, 209);
}

.sliderItem:nth-child(2) .sliderPrice{
   color:rgb(209, 67, 20);
}

.sliderItem:nth-child(3) .sliderPrice{
 color:rgb(147, 198, 45);
}

.sliderItem:nth-child(4) .sliderPrice{
    color: rgb(193, 39, 111);
}

.sliderItem:nth-child(5) .sliderPrice{
    color: rgb(118, 64, 175);
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.featureIcon
{
    width: 50px;
    height: 50px;
}

.featureTitle{
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
}

.featureDesc{
    color:gray;
    width: 50%;
    height: 100px;
}

.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path : polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.payment{
    display: none;
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    right: 0;
    bottom: 0;
    height: 80vh;
    padding: 10px 50px;
    flex-direction: column;
     -webkit-box-shadow: -14px 5px 71px -18px rgba(0,0,0,0.8);
     -moz-box-shadow: -14px 5px 71px -18px rgba(0,0,0,0.8);
     box-shadow: -14px 5px 71px -18px rgba(0,0,0,0.8);

}

.payTitle{
 
    font-size: 30px;
    color: lightslategray;
}

label{
    font-size: 18px;
    font-weight: 300;
}

.payInput{
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid gray;
}

.payInput::placeholder{
    color: rgb(171, 163, 163);
}


.cardIcons {
    display: flex;
}

.cardIcon {
    margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;
}

.sm{
    width: 30%;
}

.payButton{
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    left: 0;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: rgb(87, 167, 87);
    color: white;
    border: none;
    cursor: pointer;
}

.close{
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: rgb(138, 133, 133);
    color: white;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    padding: 2px;

}

.productImg{
    width: 50%;
}

.productDetails{
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle{
    font-size: 70px;
    font-weight: 800;
}

.productDesc{
    font-size: 20px;
    color: gray;
}

.colors,.sizes{
    display: flex;
}

.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.color:last-child{
    background-color: darkblue;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
}

.productButton{
    float: right;
    padding: 10px 20px;
    background-color: black;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover{
    background-color: white;
    color: black;
}

.gallery{
    padding: 50px;
    display: flex;
    background-color: rgb(239, 236, 236);
}

.galleryItem{
    flex: 1 ;
    padding: 30px;
}

.galleryImg{
    width: 100%;
    
}

.newSeason{
    display: flex;
}

.nsItem{
    flex: 1;
    background-color: rgb(5, 2, 25);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.nsImg{
    width: 100%;
    height: 800px;
}

.nsTitle{
    font-size: 40px;
}

.nsButton{
    padding: 15px;
    font-weight: 600;
    cursor: pointer;
}


footer{
    display: flex;
 
}


.footerLeft {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.fMenuTitle{
    font-size: 16px;
    font-weight: 700;
}

.fList{
    padding: 0;
    list-style: none;
}

.fListItem{
    margin-top: 10px;
    color:rgb(89, 87, 87);
    cursor: pointer;
    font-weight: 400;
}

.footerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: space-between;
}

.fInput{
    padding: 5px;

}

.fButton{
    padding: 5px;
    background-color: black;
    color: white;
}

.fIcons{
    display: flex;
}

.fIcon{
width: 20px;
height: 20px;
margin-right: 10px;
}

.copyright
{
    font-size: 14px;
    font-weight: 300;
}




@media screen and (max-width:480px) {
    nav{
      padding: 20px;
    }
  
    .search{
      display: none;
    }
  
    .navBottom{
      flex-wrap: wrap;
    }
  
    .menuItem{
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
    }
  
    .slider{
      clip-path: none;
    }
  
    .sliderImg{
      width: 90%;
    }
  
    .sliderBg{
      width: 100%;
      height: 100%;
    }
  
    .sliderTitle{
      display: none;
    }
  
    .sliderPrice{
      top: unset;
      bottom: 0;
      left: 0;
      background-color: lightgrey;
    }
  
    .buyButton{
      right: 0;
      top: 0;
    }
  
    .features{
      flex-direction: column;
    }
  
    .product{
      clip-path: none ;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .productImg{
      width: 80%;
    }
  
    .productDetails{
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
    }
  
    .productTitle{
      font-size: 50px;
      margin: 0;
    }
  
    .gallery{
      display: none;
    }
  
    .newSeason{
      flex-direction: column;
    }
  
    .nsItem:nth-child(2){
      padding: 70px;
    }
  
    footer{
      flex-direction: column;
      align-items: center;
    }
  
    .footerLeft{
      padding: 20px;
      width: 90%;
    }
  
    .footerRight{
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: whitesmoke;
    }
  
    .payment{
      width: 90%;
      padding: 20px;
    }
  }





